<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div class="user-info">
        <h2>User Details</h2>
        <p><strong>Name:</strong> {{user.name}}</p>
        <p><strong>Surname:</strong> {{user.surname}}</p>
        <p><strong>Role:</strong> {{user.role}}</p>
        <p><strong>Age:</strong> {{user.age}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Password:</strong> {{user.password}}</p>
        <p><strong>Cart:</strong> {{user.cart}}</p>
    </div>

    <a href="/inicio">
        <h3>Return to Home</h3>
    </a>

    <a href="/api/products">
        <h3>Go to All Products</h3>
    </a>

</body>

</html>
